__pycache__
car/
bg/
bgnm/
models/*
train_set
test_set
YOLOv5/
runs/
*.pt
!data/YOLO/yolo_config.yaml
data/YOLO/
evaluate/
data/benchmark_velocity_supp
data/benchmark_velocity_test
data/benchmark_velocity_train
data/train_set
screenshots/detector
data/test_set
data/YOLO
.vscode
.ipynb_checkpoints